<form (submit)="ms.postData($event)" [formGroup]="formGroupControls">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input formControlName="name" autocomplete="none" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Father's Name</label>
      <input formControlName="fatherName" autocomplete="none" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter father name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="email" autocomplete="none" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">    
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Phone Number</label>
      <input formControlName="phoneNumber" autocomplete="none" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter phone number">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">City</label>
      <input formControlName="city" autocomplete="none" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter city">
    </div>
    <button   type="submit" class="btn btn-primary">Submit</button>
  </form>